<!-- About / Couple -->
<div class="w3-container w3-padding-48" id="us">
  <div class="w3-content">
    <h1 class="w3-center custom-text-milch-white"><b><%= couple_names %></b></h1>
    <p class="w3-xxlarge w3-serif">
      <%= t('section.couple.text')%>
    </p>
  </div>
</div>
