<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-bottommiddle w3-text-white w3-center">
    <h1 class="w3-xxlarge"><%= t('section.rsvp.section_title')%></h1><br>
  </div>
</div>
