<!-- Photo gallery -->
<div class="w3-container w3-padding-48 w3-center" id="pictures">
  <div class="w3-content">
    <h1 class="w3-text-grey custom-text-milch-white"><b><%= t('The pictures')%></b></h1>
    <iframe class="w3-round-large" src="http://albumizr.com/a/B0W-"
      scrolling="no" frameborder="0" allowfullscreen width="100%" height="600"></iframe>
  </div>
</div>
