<!-- About / Couple -->
<div class="w3-container w3-padding-64 custom-bg-milch-blau w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center custom-text-milch-white"><b><%= couple_names %></b></h1>
    <%= image_tag('xi_and_matze_shadows_694.jpg', class: 'w3-round w3-grayscale-min', style: 'width:100%;margin:32px 0') %>
    <p>
      <i><%= t('section.couple.text')%></i>
    </p><br>
    <p class="w3-center">
      <%= link_to(t('website.menu.wedding'), wedding_path, class: 'w3-btn w3-round w3-padding-large w3-large') %>
  </div>
</div>
