<ul>
  <li class="chart" data-percent="75"><span><%= days %></span> days</li>
  <li class="chart" data-percent="15"><span><%= hours %></span> hours</li>
  <li class="chart" data-percent="83"><span><%= minutes %></span> minutes</li>
</ul>
