.chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
}
.chart span {
  display: block;
  font-size: 1em;
  font-weight: normal;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
