body,h1,h2{font-family: "EB Garamond"}
body, html {height: 100%}
body {background-image: url("cardboard-texture.jpg")}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("xi-matze_header-1000px.jpg")}
.bgimg2 {background-image: url("party-couple-1.jpg")}
div#lodging a { text-decoration: none;}
div#lodging h2 > a:hover, div#lodging a:hover { background-color: transparent;}
